handlers = com.rapid7.jul.LogentriesHandler
.handlers = com.rapid7.jul.LogentriesHandler

com.rapid7.jul.LogentriesHandler.token = LOGENTRIES_TOKEN
com.rapid7.jul.LogentriesHandler.region = eu
com.rapid7.jul.LogentriesHandler.formatter = java.util.logging.SimpleFormatter
